/** GENERAL CSS **/
* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #344438;
}
/** LAYOUT **/
.hidden {
    display: none;
}
/** HEADER **/
header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #BFD7C3; 
    height: 100px;
}
.header-container {
    display: flex;  
    justify-content: center;
}
.logo-nav {
    display: flex;
    align-items: center;
}
.logo img {
    margin-left: 20px;
    width: 130px;
    height: 45.5px;
}
.nav {
    list-style: none;
}
.nav li {
    margin: 10px 0;
}
.nav li a {
    color: #344438;
    padding: 10px;
    font-size: 13px;
}
.nav li a:hover {
    text-decoration: none;
    border-bottom: solid 4px #e1ffe6 ;
}
.search {
    background-color: white;
    border: solid 1px black;
    border-radius: 15px;
    position: relative;
    width: 250px;
    height: 30px;
}
.search input {
    border: 0;
    border-radius: 14px;
    height: 28px;
    max-width: 246px;
    padding-left: 27px;
}
.search img {
    top: 2px;
    left: 3px;
    border-radius: 12px;
    position: absolute;
    width: 24px;
    height: 24px;
}
.icons {
    padding-right: 25px;
    text-decoration: none;
}
.icons a {
    text-decoration: none;
}
h1 {
    padding-top: 25px;
    padding-left: 25vw;
}
/** FOOTER **/
footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #BFD7C3; 
    margin-top: 10px;
    padding-top: 15px;
    bottom: 0;
}
footer h5 {
    font-weight: bold;
}
.footer-links,
.about {
    min-width: 180px;
    margin: 0 30px;
    padding: 100px 0 50px 0;
}
footer section ul {
    list-style: none;
    padding: 0;
}
footer section ul a{
    text-decoration: none;
    padding: 0;
    color: #344438;
    font-size: 13px;
}
footer section ul a:hover{
    text-decoration: none;
}
.about-us {
    padding: 0 20px 0 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.copyright-container {
    font-size: small;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.copyright {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}















/******************  landing page css ************************** */





body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main-homepage {
    padding-top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
   
}
/*********************************** CAROUSEL ***********************************/

.carousel-item {
    height: 100%;

}

/*********************************** LINKS SECTION ***********************************/
a {
    text-decoration: none;
    color: black !important;
    font-size: 100%;
    padding: 10px;
}
.links-container {
    padding: 10px 25px 100px 25px;
    margin-top: 75px;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-size: small;
}


/*********************************** GALLERY ***********************************/
.info-container {
    max-width: 950px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-box {
    background-color: white;
    padding: 5px;
    width: 275px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.gallery img {
    min-width: 250px;
    max-width: 275px;
    max-height: 250px;
    opacity: 0.85;
    justify-content: center;
    /* apply transition property to default state */
    transition: opacity 0.2s linear, transform 0.5s ease-in-out;
}
.image-box img:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}
.product-rating-landing-page {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    height: 30px;
}
.icons-and-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4 {
    font-size: 14px;
}
.icons-and-info-container p {
    font-size: 12px;
}



/** MEDIA QUERIES **/


@media screen and (min-width: 1200px) {
    .text-justify {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

/* @media screen 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .title {
          font-size: 500px;
      }
} */

@media screen and (min-width: 320px) and (max-width: 480px) {
    .search {
        display: none;
    }
    .icons {
        padding-left: 25px;
    }
}